html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding-bottom: 70px;
}

header {
    background-color: #000000;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #ff4d4d;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ff4d4d;
}

section {
    padding: 40px;
    margin: 20px;
    background-color: #111;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(255, 77, 77, 0.4);
}

h2 {
    color: #ff4d4d;
}

.project {
    margin-bottom: 25px;
}

button {
    background-color: #ff3333;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #cc0000;
}

.project-details {
    margin-top: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #000;
    color: #ff4d4d;
    padding: 12px;
}